.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-top: 30px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.user-card-container {
}
.user-name {
  font-size: 18px;
  color: #12022f;
  font-family: "Roboto";
}
.user-designation {
}
.List-container {
}
.title {
}
